{% extends "base.html" %}

{% block page_content %}
                <div class="pages pages_dashboard">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="panel panel-danger">
                        <div class="panel-heading">
                          <h3 class="panel-title">Users statistic</h3>
                        </div>
                        <div class="panel-body">
                          <div class="ld-widget">
                            <div class="ld-widget__cont">
                              <div class="ld-widget-main">
                                <div class="ld-widget-main__title">Levels</div>
                                <div class="ld-widget-main__chart"></div>
                              </div>
                              <div class="ld-widget-side">
                                <div class="ld-widget-side__title">Ratio</div>
                                <div class="ld-widget-side__chart"></div>
                                <div class="ld-widget-side__footer">
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Free</div>
                                    <div class="ld-widget-side__value">45</div>
                                  </div>
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Light</div>
                                    <div class="ld-widget-side__value">30</div>
                                  </div>
                                  <div class="ld-widget-side__item">
                                    <div class="ld-widget-side__label">Pro</div>
                                    <div class="ld-widget-side__value">20</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h3 class="panel-title">Overview</h3>
                        </div>
                        <div class="panel-body">
                          <div class="ov-widget">
                            <div class="ov-widget__list">
                              <div class="ov-widget__item ov-widget__item_inc">
                                <div class="ov-widget__value">1,950</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Total users</div>
                                  <div class="ov-widget__change"><span>15</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_dec">
                                <div class="ov-widget__value">$3,230</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Earnings</div>
                                  <div class="ov-widget__change"><span>$140</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_warn">
                                <div class="ov-widget__value">12,450</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Visits</div>
                                  <div class="ov-widget__change"><span>921</span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__item ov-widget__item_tack">
                                <div class="ov-widget__value">1,087</div>
                                <div class="ov-widget__info">
                                  <div class="ov-widget__title">Orders</div>
                                  <div class="ov-widget__change"><span></span><span class="fa fa-level-up"></span><span class="fa fa-level-down"></span><span class="fa fa-bolt"></span><span class="fa fa-thumb-tack"></span></div>
                                </div>
                              </div>
                              <div class="ov-widget__bar"><span>Conquer the world</span>
                                <div class="progress">
                                  <div role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%" class="progress-bar progress-bar-info"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="panel panel-info">
                        <div class="panel-heading">
                          <h3 class="panel-title">Activity feed</h3>
                        </div>
                        <div class="feed-widget">
                          <div class="feed-widget__wrap scrollable scrollbar-macosx">
                            <div class="feed-widget__cont">
                              <div class="feed-widget__list">
                                <div class="feed-widget__item feed-widget__item_user">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text"><b><a href='index.html'>Gary Long</a></b> has registered.</div>
                                    <div class="feed-widget__date">14:20 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_product">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text">New product <b><a href='index.html'>Sony PlayStation 4</a></b>.</div>
                                    <div class="feed-widget__date">10:08 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_order">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text">New order <b><a href='index.html'>#35108243</a></b>.</div>
                                    <div class="feed-widget__date">09:42 pm - 01.11.2016</div>
                                  </div>
                                </div>
                                <div class="feed-widget__item feed-widget__item_subscriber">
                                  <div class="feed-widget__ico"><i class="fa fa-fw"></i></div>
                                  <div class="feed-widget__info">
                                    <div class="feed-widget__text"><b><a href='index.html'>Julie Payne</a></b> subscribed to a news feed.</div>
                                    <div class="feed-widget__date">18:06 pm - 01.10.2016</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="panel panel-danger">
                        <div class="panel-heading panel-heading_label">
                          <h3 class="panel-title">Support Messages</h3>
                          <div class="label label-danger">2</div>
                        </div>
                        <div class="sp-widget">
                          <div class="sp-widget__wrap scrollable scrollbar-macosx">
                            <div class="sp-widget__cont">
                              <div class="sp-widget__top">
                                <div class="sp-widget__info">
                                  <div class="sp-widget__title"><i class="fa fa-envelope-o"></i><span>2 New Messages</span></div>
                                </div>
                                <div class="sp-widget__all"><a href="inbox.html" class="btn btn-default btn-block">Show All</a></div>
                              </div>
                              <div class="sp-widget__list">
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="index.html">Carol Burton</a><span class="sp-widget__date">, 18:06 pm</span></div>
                                  <div class="sp-widget__text">Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="index.html">Judy Shaw</a><span class="sp-widget__date">, 11:38 pm</span></div>
                                  <div class="sp-widget__text">Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="index.html">Angela Kennedy</a><span class="sp-widget__date">, 13:03 pm - 01.09.2016</span></div>
                                  <div class="sp-widget__text">Vivamus vel nulla eget eros elementum pellentesque. Quisque porta volutpat erat.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="index.html">Larry Cole</a><span class="sp-widget__date">, 15:10 pm - 01.08.2016</span></div>
                                  <div class="sp-widget__text">Etiam faucibus cursus urna. Ut tellus. Nulla ut erat id mauris vulputate elementum. Nullam varius.</div>
                                </div>
                                <div class="sp-widget__item">
                                  <div class="sp-widget__user"><a href="index.html">Wanda Watson</a><span class="sp-widget__date">, 09:18 pm - 01.08.2016</span></div>
                                  <div class="sp-widget__text">Praesent blandit. Nam nulla. Integer pede justo, lacinia eget, tincidunt eget, tempus vel, pede.</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="panel panel-warning">
                        <div class="panel-heading">
                          <h3 class="panel-title">Settings</h3>
                        </div>
                        <div class="st-widget">
                          <div class="st-widget__wrap">
                            <div class="st-widget__cont">
                              <div class="st-widget__item st-widget__item_switch">
                                <div class="st-widget__label">Site accessibility</div>
                                <div class="st-widget__switch">
                                  <input type="checkbox" checked="checked" data-size="mini" data-on-color="success" data-off-color="danger" class="bs-switch">
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_switch">
                                <div class="st-widget__label">Invite mailing</div>
                                <div class="st-widget__switch">
                                  <input type="checkbox" data-size="mini" data-on-color="success" data-off-color="danger" class="bs-switch">
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_slider">
                                <div class="st-widget__label">Delivery limit</div>
                                <div class="st-widget__slider">
                                  <input type="text" name="" value="" data-grid="true" data-min="0" data-max="2000" data-from="600" data-step="200" class="settings-slider">
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_number">
                                <div class="st-widget__label">Timeout value</div>
                                <div class="st-widget__number">
                                  <input type="number" min="5" max="50" step="5" value="15" class="form-control">
                                </div>
                              </div>
                              <div class="st-widget__item st-widget__item_select">
                                <div class="st-widget__label">Something variant</div>
                                <div class="st-widget__select">
                                  <select placeholder="Variable" class="selectpicker form-control">
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
{% endblock %}

{% block scripts %}
    <script src="/static/libs/raphael/raphael-min.js"></script>
    <script src="/static/libs/morris.js/morris.min.js"></script>
    <script src="/static/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

