<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Right - Bootstrap Admin Template</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/img/apple-touch-favicon.png">
    <link href="/static/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="/static/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/libs/jquery.scrollbar/jquery.scrollbar.css" rel="stylesheet">
    <link href="/static/libs/ionrangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/static/libs/ionrangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="/static/libs/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link href="/static/libs/morris.js/morris.css" rel="stylesheet">
    <link href="/static/libs/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/css/right.css" rel="stylesheet">
    <link href="/static/css/demo.css" rel="stylesheet"><!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body class="solid_dark">
    <div class="wrapper">
      <nav class="navbar navbar-static-top header-navbar">
{% include 'inc/navbar.html' %}
      </nav>
      <div class="dashboard">
        <div class="sidebar">
{% include 'inc/sidebar.html' %}
        </div>
        <div class="main">
          <div class="scrollable scrollbar-macosx">
            <div class="main__cont">
              <div class="main-heading">
                <div class="main-title">
                  <ol class="breadcrumb">
                    <li class="active">Dashboard</li>
                  </ol>
                </div>
                <div class="main-filter">
                  <form class="main-filter__search">
                    <div class="input-group">
                      <input type="text" placeholder="Search..." class="form-control"><span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                          <div class="fa fa-search"></div>
                        </button></span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="container-fluid half-padding">
{% block page_content %}
{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="demo">
      <div class="demo__ico"></div>
      <div class="demo__cont">
        <div class="demo__settings">
          <div class="demo__group">
            <div class="demo__label">Color theme:</div>
            <div class="demo__themes">
              <div data-theme="solid_dark" title="Dark" class="demo__theme demo__theme_active demo__theme_dark"></div>
              <div data-theme="transparent_lilac" title="Lilac" class="demo__theme demo__theme_lilac"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/js/autobahn.min.jgz"></script>
    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/libs/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/static/libs/bootstrap-tabdrop/bootstrap-tabdrop.min.js"></script>
    <script src="/static/libs/sparkline/jquery.sparkline.min.js"></script>
    <script src="/static/libs/ionrangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="/static/libs/inputNumber/js/inputNumber.js"></script>
    <script src="/static/libs/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
{% block scripts %}
    <script src="/static/libs/raphael/raphael-min.js"></script>
    <script src="/static/libs/morris.js/morris.min.js"></script>
    <script src="/static/libs/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
{% endblock %}
    <script src="/static/js/template/index.js"></script>
{% block code %}
{% endblock %}
    <script src="/static/js/main.js"></script>
  </body>
</html>

